---
import Headline from '~/components/ui/Headline.astro';
import ItemGrid from '~/components/ui/ItemGrid.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Faqs as Props } from '~/types';
import { stripHtmlTags } from '~/utils/utils';


const {
  title = '',
  subtitle = '',
  tagline = '',
  heading = '',
  items = [],
  columns = 2,
  schema = false,
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const faqJsonLd = schema
  ? {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      mainEntity: items.map(({ title, description }) => ({
        "@type": "Question",
        name: stripHtmlTags(title),
        acceptedAnswer: {
          "@type": "Answer",
          text: stripHtmlTags(description),
        },
      })),
    }
  : null;

---

<WidgetWrapper id={id} isDark={isDark} containerClass={`wg-faqs max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
    {
      heading && (
      <h3 class="text-xl sm:text-3xl text-center font-bold leading-tight mb-10 font-heading ">
        {heading}
      </h3>
      )
    }      

  <ItemGrid
    items={items}
    columns={columns}
    defaultIcon="tabler:chevron-right"
    classes={{
      container: `${columns === 1 ? 'max-w-4xl' : ''} gap-y-8 md:gap-y-12`,
      panel: 'max-w-none',
      icon: 'flex-shrink-0 mt-1 w-6 h-6 text-primary',
    }}
  />

  {schema && (
    <script type="application/ld+json" set:html={JSON.stringify(faqJsonLd, null, 2)} />
  )}

</WidgetWrapper>
