---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget, Block } from '~/types';
import Button from '../ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslations } from '~/utils/i18n';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  blocks?: Block[];
  count?: number;
}

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

const {
  title = await Astro.slots.render('title'),
  linkText = t('blog.view_all_posts'),
  linkUrl = '',
  information = await Astro.slots.render('information'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  blocks = [],
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`wg-fourblocks ${classes?.container ?? ''}`} bg={bg}>
  <div class="flex flex-col lg:justify-between mb-8">
    {
      (
        <div class="">
          <h2
            class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
            set:html={title}
          />
          {linkText && linkUrl && (
            <Button variant="link" href={linkUrl}>
              {' '}
              {linkText} »
            </Button>
          )}
        </div>
      )
    }

    {information && <p class="text-muted dark:text-slate-400 lg:text-sm" set:html={information} />}
  </div>

  <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
    {
      blocks.map((block) => (
        <article class="mb-6 transition intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
          <div class="relative bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6">
            {block.image && (
              <a href={block.link} title={block.title}>
                <Image
                  src={block.image}
                  class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                  widths={[290, 363, 720, 480]}
                  width={363}
                  sizes="(max-width: 480px) 480px, (max-width: 767px) 720px, (max-width: 1023px) 480px, (max-width: 1535px) 290px, 363px"
                  alt={block.title}
                  layout="fullWidth"
                  loading="lazy"
                  decoding="async"
                />
              </a>
            )}
          </div>

          <h3 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
            {
              <a
                title={block.title}
                class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
                href={block.link}
              >
                {block.text}
              </a>
            }
          </h3>
          <p class="text-muted dark:text-slate-400 text-md">{block.excerpt}</p>
          {block.links && (
            <ul class="my-8 md:my-10 space-y-2 text-left">
              {block.links.map((link) => (
                <li class="mb-1.5 flex items-center space-x-3 leading-7">
                  <div class="mt-1">
                    <Icon
                      name={link.icon ? link.icon : 'tabler:check'}
                      class="w-7 h-7 lg:w-8 lg:h-8 font-bold p-1 text-primary"
                    />
                  </div>
                  <span>
                    <a class="hover:text-accent" href={link.href} title={link.title}>
                      {link.text}
                    </a>
                  </span>
                </li>
              ))}
            </ul>
          )}
        </article>
      ))
    }
  </div>
</WidgetWrapper>
