---
const {
  h2 = await Astro.slots.render('h2'),
  p = await Astro.slots.render('p'),
  links = await Astro.slots.render('links'),
  linkText = "Informa't",
  linkTitle = '',
  linkHref = '',
  id,
} = Astro.props;
---

<section
  class="wg-note not-prose shadow-lg bg-lightgray px-6 sm:px-8 md:px-12"
  {...(id ? { id } : {})}
>
  <div
    class="max-w-3xl mx-auto text-md text-center py-6 flex items-center xs:flex-row sm:justify-between md:text-left max-[840px]:block"
  >
    <div class="w-full">
      {h2 && (
        <h2 class="text-xl sm:text-3xl font-bold leading-tight py-2 custom-gradient">
          <Fragment set:html={h2} />
        </h2>
      )}

      {links && (
        <div class="text-muted -ml-1">
          <Fragment set:html={links} />
        </div>
      )}

      {p && (
        <p class="text-muted -ml-1">
          <Fragment set:html={p} />
        </p>
      )}
    </div>

    {linkHref && (
    <a
          class="btn btn-primary whitespace-nowrap text-center"
          href={linkHref}
          title={linkTitle}
        >
          {linkText}
        </a>
    )}
  </div>
</section>

